@page
@model LoginModel
@{
}

<div class="wrapper">
    <form class="form-signin">
        <h3 class="form-signin-heading text-center">링거 파트너 로그인</h3>
        <input type="text" class="form-control" name="username" placeholder="이메일" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="비밀번호" required="" />

        <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">로그인</button>
    </form>
</div>
