@page

<div class="container">
    <div class="row" style="margin-top: 2em;">
        <div class="col" style="background: #e9ecef;">
            <ul id="messagesList" style="padding-inline-start: 0.4em;"></ul>
        </div>

        <div class="col">
            <h1>Ringer</h1>
            <p>안전하고 건강한 여행 Ringer</p>
            <form>
                <div class="form-group">
                    <input type="text" id="userInput" class="form-control" placeholder="이름" maxlength="4" />
                </div>
                <div class="form-group">
                    <input type="text" id="messageInput" class="form-control" placeholder="메시지" />
                </div>
                <div class="form-group">
                    <input type="button" id="sendButton" value="보내기" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>