@page
<!DOCTYPE html>
<html lang="ko">
<head>
</head>
<body>
    <h1 style="text-align: center;">㈜케어팩토리 개인정보 처리방침</h1><span id="docs-internal-guid-7e18eb3b-7fff-6bf7-c79f-cf43f7d9d978">
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 6pt;margin-right: 10pt;text-indent: -6pt;text-align: center;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 6pt;">
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 6pt;margin-right: 10pt;text-indent: -6pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 6pt;">
            ㈜케어팩토리는 개인정보 보호법 제30조에 따라 정보주체(고객)의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리지침을 수립, 공개합니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 6pt;margin-right: 10pt;text-indent: -6pt;text-align: center;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 6pt;">
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 26pt;margin-right: 10pt;text-indent: -20pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 20pt;">
            1.   개인정보의 처리목적
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 26pt;margin-right: 10pt;margin-top:0pt;margin-bottom:0pt;">
            ㈜케어팩토리는 다음의 목적을 위하여 최소한의 개인정보를 처리하고 있으며, 다음의 목적 이외의 용도로는 이용하지 않습니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            1.1. <span class="Apple-tab-span">	</span>고객 가입의사 확인
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            1.2. <span class="Apple-tab-span">	</span>고객에 대한 서비스 제공에 따른 본인 식별 및 인증
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            1.3. <span class="Apple-tab-span">	</span>회원자격 유지 및 관리
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            1.4. <span class="Apple-tab-span">	</span>서비스 제공에 따른 금액 결제 등
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;text-indent: -24pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 24pt;">
            2.<span class="Apple-tab-span">	</span>개인정보의 처리 및 보유기간
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            2.1. <span class="Apple-tab-span">	</span>㈜케어팩토리는 정보주체로부터 개인정보를 수집할 때 동의받은 개인정보 보유, 이용기간 또는 법령에 따른 개인정보 보유, 이용기간 내에서 개인정보를 처리, 보유합니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            2.2. <span class="Apple-tab-span">	</span>구체적인 개인정보 처리 및 보유 기간은 다음과 같습니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 88pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            2.2.1.   고객 가입 및 관리: 서비스 이용계약 또는 회원가입 해지시까지
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 88pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            2.2.2.   전자상거래에서의 계약, 청약철회, 대금결제, 서비스 등 공급기록: 5년
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;text-indent: -24pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 24pt;">
            3.<span class="Apple-tab-span">	</span>개인정보의 제3자 제공
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;margin-top:0pt;margin-bottom:0pt;">
            ㈜케어팩토리는 정보주체의 별도 동의, 법률의 특별한 규정 등 개인정보 보호법 제17조에 해당하는 경우 외에는 개인정보를 제3자에게 제공하지 않습니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;text-indent: -24pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 24pt;">
            4.<span class="Apple-tab-span">	</span>정보주체와 법정대리인의 권리․의무 및 행사방법
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;margin-top:0pt;margin-bottom:0pt;">
            정보주체는 ㈜케어팩토리에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            4.1. <span class="Apple-tab-span">	</span>개인정보 열람요구
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            4.2. <span class="Apple-tab-span">	</span>개인정보에 오류 등이 있을 경우 정정 요구
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            4.3. <span class="Apple-tab-span">	</span>삭제요구
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            4.4. <span class="Apple-tab-span">	</span>처리정지 요구
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;text-indent: -24pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 24pt;">
            5.<span class="Apple-tab-span">	</span>개인정보를 수집하는 방법
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;margin-top:0pt;margin-bottom:0pt;">
            개인정보를 수집하는 경우에는 반드시 사전에 이용자에게 해당 사실을 알리고 동의를 구하고 있으며, 아래와 같은 방법을 통해 개인정보를 수집합니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            5.1. <span class="Apple-tab-span">	</span>회원가입 및 서비스 이용 과정에서 이용자가 개인정보 수집에 대해 동의를 하고 직접 정보를 입력하는 경우
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            5.2. <span class="Apple-tab-span">	</span>제휴 서비스 또는 단체 등으로부터 개인정보를 제공받은 경우
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            5.3. <span class="Apple-tab-span">	</span>고객센터를 통한 상담 과정에서 웹페이지, 메일, 팩스, 전화 등
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            5.4. <span class="Apple-tab-span">	</span>온·오프라인에서 진행되는 이벤트/행사 등 참여
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;text-indent: -24pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 24pt;">
            6.<span class="Apple-tab-span">	</span>서비스 이용 과정에서 이용자로부터 수집하는 개인정보
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            6.1. <span class="Apple-tab-span">	</span>PC웹, 모바일 웹/앱 이용 과정에서 단말기정보(OS, 화면사이즈, 디바이스 아이디, 폰기종, 단말기 모델명), IP주소, 쿠키, 방문일시, 부정이용기록, 서비스 이용 기록 등의 정보가 자동으로 생성되어 수집될 수 있습니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;text-indent: -24pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 24pt;">
            7.<span class="Apple-tab-span">	</span>서비스 간 제휴, 연계 등으로 제3자로부터 제공받는 개인정보
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            7.1. <span class="Apple-tab-span">	</span>고객 식별 정보, 출국날짜, 입국날짜, 여행장소
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;text-indent: -24pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 24pt;">
            8.<span class="Apple-tab-span">	</span>개인정보 위탁
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;margin-top:0pt;margin-bottom:0pt;">
            서비스 제공에 있어 필요한 업무 중 일부를 외부 업체로 하여금 수행하도록 개인정보를 위탁하고 있습니다. 그리고 위탁 받은 업체가 관계 법령을 준수하도록 관리·감독하고 있습니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;text-indent: -24pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 24pt;">
            9.<span class="Apple-tab-span">	</span>처리하는 개인정보 항목
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;margin-top:0pt;margin-bottom:0pt;">
            ㈜케어팩토리는 다음의 개인정보 항목을 처리하고 있습니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 42pt;margin-right: 10pt;text-indent: -18pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 18pt;">
            -    성명, 생년월일, 주소, 전화번호, 휴대전화번호, 성별, 이메일주소, 신용카드번호, 은행계좌번호 등 결제정보
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;text-indent: -24pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 24pt;">
            10.   개인정보의 파기
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            10.1.<span class="Apple-tab-span">	</span>㈜케어팩토리는 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체없이 해당 개인정보를 파기합니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            10.2.<span class="Apple-tab-span">	</span>㈜케어팩토리는 다음의 방법으로 개인정보를 파기합니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 88pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            10.2.1. 전자적 파일: 파일 삭제 및 디스크 등 저장매체 포맷
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 88pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            10.2.2. 수기(手記) 문서: 분쇄하거나 소각
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;text-indent: -24pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 24pt;">
            11.   개인정보의 안전성 확보 조치
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;margin-top:0pt;margin-bottom:0pt;">
            ㈜케어팩토리는 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            11.1.<span class="Apple-tab-span">	</span>관리적 조치: 내부관리계획 수립 및 시행, 직원 등에 대한 정기적 교육
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            11.2.<span class="Apple-tab-span">	</span>기술적 조치: 개인정보처리시스템(또는 개인정보가 저장된 컴퓨터)의 비밀번호 설정 등 접근권한 관리, 백신소프트웨어 등 보안프로그램 설치, 개인정보가 저장된 파일의 암호화
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            11.3.<span class="Apple-tab-span">	</span>물리적 조치: 개인정보가 저장 및 보관된 장소의 시건, 출입통제 등
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;text-indent: -24pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 24pt;">
            12.   개인정보 자동 수집 장치의 설치 및 운영 및 거부에 관한 사항
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            12.1.<span class="Apple-tab-span">	</span>㈜케어팩토리는 이용자에게 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 ’쿠키(cookie)’를 사용합니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            12.2.<span class="Apple-tab-span">	</span>쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 이용자들의 PC 컴퓨터내의 하드디스크에 저장되기도 합니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            12.3.<span class="Apple-tab-span">	</span>쿠키에는 이름, 전화번호 등 개인을 식별하는 정보를 저장하지 않으며, 이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 이용자는 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수도 있습니다. 다만, 쿠키 설치를 거부할 경우 웹 사용이 불편해지며, 로그인이 필요한 일부 서비스 이용에 어려움이 있을 수 있습니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            12.4.<span class="Apple-tab-span">	</span>쿠키의 설치, 운영 및 거부
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;margin-top:0pt;margin-bottom:0pt;">
            - Internet Explorer의 경우: 웹 브라우저 상단의 도구 메뉴 &gt; 인터넷 옵션 &gt; 개인정보 &gt; 설정
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;margin-top:0pt;margin-bottom:0pt;">
            - Chrome의 경우: 웹 브라우저 우측의 설정 메뉴 &gt; 화면 하단의 고급 설정 표시 &gt; 개인정보의 콘텐츠 설정 버튼 &gt; 쿠키
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            12.5.<span class="Apple-tab-span">	</span>쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;text-indent: -24pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 24pt;">
            13.   개인정보 보호책임자
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;margin-top:0pt;margin-bottom:0pt;">
            ㈜케어팩토리는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제를 처리하기 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;margin-top:0pt;margin-bottom:0pt;">
            ▶ 개인정보 보호책임자
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;margin-top:0pt;margin-bottom:0pt;">
            성명: 김순용
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;text-indent: 12pt;margin-top:0pt;margin-bottom:0pt;">
            직책: 대표이사
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;text-indent: 12pt;margin-top:0pt;margin-bottom:0pt;">
            연락처: 02-2039-9771, hello@carefactory.co.kr
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 24pt;margin-right: 10pt;text-indent: -24pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 24pt;">
            14.   개인정보 처리방침 변경
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            14.1.<span class="Apple-tab-span">	</span>이 개인정보 처리방침은 2020. 05. 01. 부터 적용됩니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 62pt;margin-right: 10pt;text-indent: -36pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 36pt;">
            14.2.<span class="Apple-tab-span">	</span>법률이나 서비스의 변경사항을 반영하기 위한 목적 등으로 개인정보처리방침을 수정할 수 있습니다. 개인정보처리방침이 변경되는 경우 ㈜케어팩토리는 변경 사항을 게시하며, 변경된 개인정보처리방침은 게시한 날로부터 7일 후부터 효력이 발생합니다. 다만, 수집하는 개인정보의 항목, 이용목적의 변경 등과 같이 이용자 권리의 중대한 변경이 발생할 때에는 최소 30일 전에 미리 알려드리겠습니다.
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 23pt;margin-right: 10pt;text-indent: -23pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 23pt;">
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 23pt;margin-right: 10pt;text-indent: -23pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 23pt;">
            공고일자: 2020년 04월 01일
        </p>
        <p dir="ltr" style="line-height:1.6800000000000002;margin-left: 23pt;margin-right: 10pt;text-indent: -23pt;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 0pt 23pt;">
            시행일자: 2020년 05월 01일
        </p>
        <p dir="ltr" style="line-height:1.38;margin-top:12pt;margin-bottom:12pt;">
        </p><br>
    </span>
</body>
</html>