<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>링거</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>링거가 위치를 파악하여 현지 공관과 의료기관 정보를 제공합니다. 각국의 의료법 준수를 위해 접속 위치를 확인합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>링거가 위치를 파악하여 현지 공관과 의료기관 정보를 제공합니다. 각국의 의료법 준수를 위해 접속 위치를 확인합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>링거가 위치를 파악하여 현지 공관과 의료기관 정보를 제공합니다. 각국의 의료법 준수를 위해 접속 위치를 확인합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>링거 상담팀에 사진, 동영상을 촬영하고 전송합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>사진첩의 사진과 동영상을 링거 상담팀에 전송합니다.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>동영상 촬영에 음성 및 오디오를 함께 넣습니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>링거에 전송하는 사진 및 동영상을 사진첩에도 함께 저장합니다.</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ko</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>ko</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleIdentifier</key>
	<string>kr.co.carefactory.ringer</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>UIAppFonts</key>
	<array>
		<string>materialdesignicons-webfont.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>RingerLaunchScreen</string>
	<key>CFBundleName</key>
	<string>링거</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
</dict>
</plist>
